window {
  background-color: rgba(40, 42, 54, 0.7);
  border: 2px solid #bd93f9;
  border-radius: 10px;
  padding: 10px;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
  color: #f8f8f2;
}

#input {
  border: none;
  color: #f8f8f2;
  background-color: rgba(40, 42, 54, 0.7);
  border-radius: 6px;
  padding: 6px;
  margin-bottom: 10px;
}

#outer-box {
  margin: 10px;
}

#scroll {
  background-color: transparent;
}

#entry {
  padding: 6px;
  margin: 3px;
  border-radius: 6px;
  background-color: transparent;
  color: #f8f8f2;
}

#entry:selected {
  color: #50fa7b;
  background-color: rgba(40, 42, 54, 0.7);
}

#text {
  color: inherit;
}

#text:selected {
  color: #50fa7b;
}

image {
    margin-right: 8px;
    min-height: 24px;
    min-width: 24px;
}
